<footer>
    <div id="footer">
        @ Daria Ignatyuk <a href="https://github.com/DariaIgnatiuk"><img src="/public/images/GitHubLogo.png" height="20"></a> 
        @ Alexander Sarnov <a href="https://github.com/AlexanderSarnov"><img src="/public/images/GitHubLogo.png" height="20"></a>
    </div>
</footer>