<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Correct Word</title>
    <script src="/static/staticjs/chooseCorrectWordScript.js" defer></script>
	<link rel="stylesheet" href="/static/css/styles.css">

</head>
<body>

<h2>Choose Correct Word</h2>
<button onclick="setupChooseWordGame()" id="startGameButton">Start Game</button>
<br><br>

<div id="chooseGameContainer">
    <div id="oneWordInHeb">
    </div>
    <div id="optionsInEng">
    </div>
</div>

<div id="gameResult"><div>




</body>
</html>