<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match Words</title>
    <script src="/static/staticjs/matchWordsGameScript.js" defer></script>
	<link rel="stylesheet" href="/static/css/styles.css">

</head>
<body>

<h2>Match Words</h2>

<button onclick="startMatchingGame()" id="startGameButton">Start Game</button>
<br><br>

<div id="matchGameContainer" onClick="checkIfMatchingGameEnded(event)">
    <div id="englishWords" class="column">
    </div>
    <div id="hebrewWords" class="column">
    </div>
</div>
<div id="gameResult"><div>

</body>
</html>
